@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vazirmatn;
    src: url('styles/font/vazir/Vazirmatn[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        @apply font-vazir;
        font-feature-settings: "ss01";
    }
}

* {
    outline: none;
    vertical-align: middle;
}

#root, html, body {
    @apply h-full;
}

#root {
    @apply flex flex-col;
}

.en {
    font-feature-settings: initial;
}

.button-primary {
    @apply inline-flex items-center justify-center px-3 py-3 border border-transparent rounded-xl shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 transition;
}

.button-text {
    @apply whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900;
}

.truncate > * {
    display: none;
}

.truncate-2 > *:nth-child(2) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.truncate, .truncate > *:first-child {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}